:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

    --colot-button-primary: #f4c430;

    --brand-primary: #0b6b3a;
    --brand-secondary: #f2c94c;
    --accent-default: #66a365;
    --accent-soft: #92c58b;
    --surface-default: #f1ead3;
    --text-default: #343a40;
}

body {
    padding-top: 76px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

main {
    justify-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.548) 80%);
}


.container {
    max-width: 1200px;
}


/*------------------ Estilos da NavBar ----------------- */
.navbar-s {
    background: linear-gradient(rgb(27, 138, 81), rgb(68, 60, 39));
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-brand-s {
    order: 1;
}

.navbar-brand-s img {
    color: #fff;
}

.nav-btn-container{
    order: 2;
    margin-left: auto;
    margin-right: 1rem;
}

.navbar-container-s {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 56px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

header li a {
    color: white;
}

.navbar-brand-s img {
    height: 40px;
}

.navbar-menu-s {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 10px;
    order: 4;
}

.navbar-toggle-s {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    order: 3;
}

.btn-nav-contato {
    background-color: var(--colot-button-primary); /* Cor de destaque (Laranja/Ouro) */
    color: white !important;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;        
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}
.btn-nav-contato:hover {
    background-color: transparent;
    border-color: #ff9807;
    color: #ff9807 !important;
    transform: scale(1.05); /* Dá um leve aumento */
}

/* --- AJUSTE PARA DISPOSITIVOS MÓVEIS (435px ou menos) --- */
@media (max-width: 375px) {
    .btn-nav-contato {
        white-space: normal;    
        max-width: 100px;       
        font-size: 0.85rem;     
        padding: 0.4rem;        
        line-height: 1.2;       
        display: flex;          
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .navbar-toggle-s {
        display: block;
        order: 3;
        margin-left: 10px;
    }

    .navbar-container-s {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .navbar-menu-s {
        position: absolute;
        top: 74px;
        right: 0;
        background: linear-gradient(0deg, rgb(27, 138, 81), rgb(68, 60, 39));
        flex-direction: column;
        width: 40%;
        padding: 0;
        margin: 0;

        display: flex;
        max-width: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.4s ease;
        z-index: 100;
    }

    .navbar-menu-s.active {
        max-width: 500px;
        padding: 0.5rem 0;
        border-radius: 5px;
    }

    .navbar-menu-s li {
        text-align: center;
        padding: 0.75rem 0;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
 
    .navbar-menu-s.active li {
        opacity: 1;
    }

    .nav-btn-container {
        display: block;
        margin: 0;
        order: 2;
    }

    .btn-nav-contato {
        text-align: center;
        padding: 0.5rem 0.8rem;
        font-size: 0.85rem;
    }
}

/*----------------- Fim estilos da NavBar -----------------*/


/* Missão, valores e visão */


#container_descricao {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
    justify-items: center;
}

.section_valores {
    color: white;
}

.section_valores>section {
    padding: 0.8rem 2rem;
}

.container-valores {
    color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.valores {
    background-color: #00633C;
    border-top-right-radius: 40px;
}

.visao {
    background-color: #0B8045;
}

.missao {
    background-color: #269E37;
    border-bottom-left-radius: 40px;
}

/* Especialista */

div>section {
    margin: 3.2rem 1rem;
}

#section_especialista {
    background:
        linear-gradient(30deg, #00633c 30%, #26c00772 70%), url(https://blog.verde.ag/pt/wp-content/uploads/2023/11/Lavoura-de-milho-como-melhorar-a-fertilidade-do-solo.jpg) no-repeat;
    color: white;
    padding: 3rem;
    border-radius: 30px;
}

#section_especialista h2 {
    font-weight: 700;
}

#section_especialista h2,
#section_especialista p {
    margin-bottom: 16px;
}

#section_especialista a {
    background-color: var(--colot-button-primary);
    color: #ffffff;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 0.5rem;
}

.section-especialista {
    border-radius: 30px;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.card>img {
    border-radius: 10px 10px 0px 0px;
}

.card {
    border-radius: 16px;
    cursor: pointer;
}

.card>div {
    padding: 0.4rem;
}


/*--------Ininicio Nossa equipe e projetos--------*/

.section-equipes-projetos {
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1.5rem;
}

.section-equipes {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
}

.item-1 {
    grid-column: span 5;
}

.item-2 {
    grid-column: span 4;
}

.item-2>a {
    cursor: pointer;
}

.grid-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.section-service-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1.5rem;
}

/* Tablet */
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.section-service-menu h6 {
    cursor: pointer;
}

.section-equipes-projetos a {
    background-color: #00633C;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.8rem;
    padding: 15px 20px;
    color: white !important;
    border-radius: 0.6rem;
}

.item-2>a {
    padding: 5px 10px;
}

.section-equipes-projetos img {
    border-radius: 10px;
}

hr {
    margin: 20px 0;
    border: 1px solid gray;
}

.section-service-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.section-service-menu {
    margin: 1.4rem 0;
}

.section-service-menu button {
    padding: 0.8rem;
    border: none;
    border-radius: 0.4rem;
}

/* Tablet */
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .section-equipes {
        grid-template-columns: 1fr;
    }
}

/*----------------- FORMULÁRIO ----------------- */

/* --- CONFIGURAÇÕES GLOBAIS E VARIÁVEIS --- */
:root {
    --color-dark: #00633C;
    /* Cor principal (Azul Petróleo) para textos, botões e ícones */
    --color-light: #f4f6f9;
    /* Fundo suave para a coluna de destaque (esquerda) */
    --color-white: #ffffff;
    /* Fundo puro para a área de digitação */
    --color-border: #d1d9e0;
    /* Cor padrão para bordas de inputs */
    --color-text: #333;
    /* Cor para parágrafos e textos auxiliares */
}

/* --- RESET E COMPORTAMENTO BASE --- */
.container-formulario * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Garante que padding/border não aumentem o tamanho fixo dos elementos */
}

/* Seção externa que envolve todo o componente de formulário */
.container-form {
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    /* Centraliza o formulário horizontalmente na tela */
    align-items: center;
    /* Centraliza o formulário verticalmente na tela */
    min-height: 100vh;
    /* Garante que o fundo ocupe sempre a altura total do navegador */
}

/* --- ESTRUTURA DO CARD PRINCIPAL --- */
.container-formulario {
    display: grid;
    grid-template-columns: 1fr;
    /* Layout em coluna única por padrão (mobile) */
    width: 100%;
    max-width: 1100px;
    background-color: var(--color-white);
    border-radius: 50px;
    /* Curvatura acentuada nas quinas do card */
    overflow: hidden;
    /* Corta o conteúdo interno para respeitar o arredondamento das bordas */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    /* Sombra para dar profundidade ao card */
    margin: 20px;
}

/* --- COLUNA DA ESQUERDA (Destaque/Imagem) --- */
.form-content-left {
    display: flex;
    padding: 5px;
    justify-items: center;
    align-items: start;
    flex: 1;
    /* Faz esta coluna ocupar espaço proporcional no flexbox */
    ;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255)), url('../img/slide-mapeamento-lg.png');
    background-size: cover;
}

.form-image{
    padding-left: 10px;
    padding-top: 7px;
}

.form-image img {
    max-width: 100%;
    height: auto;
    width: 400px;
}


.form-content-left h3 {
    color: var(--color-dark);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* Afastamento entre letras para estética corporativa */
    text-align: center;
    padding-right: 20px;
    padding-top: 10px;
}

.form-content-left p {
    text-align: center;
    font-size: 0.7rem;
    padding-right: 20px;
}

/* --- ÁREA DO FORMULÁRIO (Direita) --- */
.form {
    width: 100%;
    padding: 10px;
    /* Espaçamento interno para o conteúdo não encostar nas bordas */
    background-color: var(--color-white);
    font-size: 0.7rem;
}

.form-header {
    margin: 0.5rem;
    text-align: center;
}

.title h3 {
    color: var(--color-dark);
    padding-top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Organização dos inputs (Grid) */
.input-group {
    display: grid;
    grid-template-columns: 1fr;
    /* Coluna única para facilitar preenchimento no mobile */
    gap: 0.4rem;
    /* Espaçamento fixo entre cada campo do formulário */
    flex: 1;
    /* Permite que o grupo de inputs cresça verticalmente */
}

/* Estilização individual dos campos de entrada */
.input-box label {
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: 5px;
    display: block;
    /* Garante que o label fique acima do campo */
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: all 0.3s ease;
    /* Suaviza mudanças de cor e sombra */
}

/* Estados de interação dos inputs */
.input-box input:focus,
.input-box select:focus,
.input-box textarea:focus {
    outline: none;
    border-color: #00633C;
    box-shadow: 0 0 10px rgba(255, 152, 7, 0.2);
}

/* Comportamento específico para o campo de Mensagem (Textarea) */
.input-message {
    display: flex;
    flex-direction: column;
}

.input-message textarea {
    flex: 1;
    /* Faz a caixa de texto ocupar o máximo de altura disponível */
    resize: none;
    /* Desativa o redimensionamento manual para não quebrar o layout */
    min-height: 100px;
}

/* --- BOTÃO DE AÇÃO --- */
#solicite-button {
    margin-top: auto;
    /* Empurra o botão para o fim do container flex */
    margin: 1rem;
}

#solicite-button button {
    width: 100%;
    background-color: var(--color-dark);
    color: white;
    border: none;
    padding: 18px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

#solicite-button button:hover {
    background-color: #153a44;
    /* Escurece levemente no hover */
    transform: translateY(-2px);
    /* Efeito de levante ao passar o mouse */
}

@media (min-width: 540px) {

    .form-content-left {
        background-image: url('img/slide-mapeamento-lg.png');
        padding: 10px;
        justify-items: center;
        align-items: center;
        flex: 1;
        /* Faz esta coluna ocupar espaço proporcional no flexbox */
        ;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255)), url('../img/slide-mapeamento-lg.png');
        background-size: cover;
    }

    .form {
        width: 100%;
        padding: 10px;
        background-color: var(--color-white);
        font-size: 1rem;
    }

    .title h3 {
        color: var(--color-dark);
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .input-box input,
    .input-box select,
    .input-box textarea {
        font-size: 1rem;
    }

    .form-content-left h3 {
        padding: 10px;
        font-size: 1.5rem;
    }

    .form-content-left p {
        text-align: center;
        font-size: 1rem;
    }

    .form-image img {
        max-width: 100%;
        height: auto;
        width: 300px;
    }

    /* Regras de expansão de colunas no Grid Desktop */
    .input-box:nth-child(1) {
        grid-column: span 2;
    }

    /* Nome ocupa a largura total */
    .input-box:nth-child(2) {
        grid-column: span 1;
    }

    /* E-mail ocupa a largura total */
    .input-box:nth-child(3) {
        grid-column: span 1;
    }

    /* UF ocupa metade */
    .input-box:nth-child(4) {
        grid-column: span 1;
    }

    /* Cidade ocupa metade */
    .input-box:nth-child(5) {
        grid-column: span 1;
    }

    /* Telefone ocupa a largura total */
    .input-box:nth-child(6) {
        grid-column: span 2;
    }

    .input-group {
        row-gap: 0.5rem;
        padding: 1rem;
    }

    .input-box textarea {
        min-height: 150px;
    }

}

/* --- RESPONSIVIDADE (Telas Maiores que 992px) --- */
@media (min-width: 992px) {

    .form-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255)), url('../img/slide-mapeamento-lg.png');
        background-size: cover;
    }

    .form {
        width: 100%;
        padding: 10px;
        background-color: var(--color-white);
        font-size: 1rem;
    }

    #form-content-left .form-image,
    .form-sobre {
        opacity: 100%;
    }

    .title h3 {
        color: var(--color-dark);
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .input-box input,
    .input-box select,
    .input-box textarea {
        font-size: 0.9rem;
    }

    .form-image {
        align-self: center;
    }

    .form-sobre {
        align-self: center;
        margin-top: 10px;
    }

    .container-formulario {
        grid-template-columns: 1fr 1fr;
        /* Duas colunas: imagem à esquerda, formulário à direita */
    }

    .input-group {
        grid-template-columns: 1fr 1fr;
        /* Divide os campos em duas colunas */
        grid-template-rows: auto auto 1fr;
        /* As primeiras linhas se ajustam e a última (mensagem) cresce */
    }

    /* Regras de expansão de colunas no Grid Desktop */
    .input-box:nth-child(1) {
        grid-column: span 2;
    }

    /* Nome ocupa a largura total */
    .input-box:nth-child(2) {
        grid-column: span 2;
    }

    /* Telefone ocupa a largura total */
    .input-box:nth-child(3) {
        grid-column: span 1;
    }

    /* UF ocupa metade */
    .input-box:nth-child(4) {
        grid-column: span 1;
    }

    /* Cidade ocupa metade */
    .input-box:nth-child(5) {
        grid-column: span 2;
        /* Mensagem ocupa a largura total */
        display: flex;
        flex-direction: column;
    }

    #form-content-left {
        align-items: center;
        /* Centraliza o conteúdo verticalmente */
    }
}
/* -----------------FORMULÁRIO DE CONTATO END -----------------*/




/*----------------- FOOTER NEW -----------------*/
footer {
    width: 100%;
    background-color: #001B18;
    color: var(--color-neutral-40);
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 2rem 2rem 0;
    gap: 1rem;
}

#footer_contacts {
    gap: 10px;
    display: grid;
}

#footer_contacts h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

#footer_contacts img {
    display: block;
    height: auto;
    max-width: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer_social_media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* margin-top: 1.5rem;  */
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s ease;
}

#footer_social_media .footer-link i {
    font-size: 1.3rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    background-color: var(--color-neutral-30);
    color: var(--color-neutral-0);
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook {
    background: #1877F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding-left: 0;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.3s ease;
}

.footer-list .footer-link:hover {
    color: #00633c;
}

.footer-list-item {
    display: flex;
    gap: 1rem;
}

.footer-list-item i {
    margin: 0.25rem 0;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    /* padding: 0.5rem; */
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #footer_copyright {
        text-align: center;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    #footer_copyright {
        text-align: center;
    }
}

@media (max-width: 768px) {
    footer h5 {
        font-size: 16px;
    }
}
/*----------------- Fim do FOOTER NEW -----------------*/


/*----------------- SLIDER -----------------*/
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
} 

.slider-track {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    max-width: 1600px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.slide-caption {
    position: absolute;
    bottom: 15%;
    left: 8%;
    max-width: 600px;
    color: #ffffff
}

.slide-caption h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    margin-bottom: 0.5rem;
}

.slide-caption p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Botões */
.slider-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 2vw;
    opacity: 0.5;
}

.slider-btn.prev {
    left: 0;
}

.slider-btn.next {
    right: 0;
}

.slider-btn:hover {
    opacity: 1; 
}

/* Ajuste na legenda para telas pequenas */
@media (max-width: 435px) {
    .slide-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 15%;           /* Reduz a margem lateral para ganhar espaço */
        right: 15%;          /* Garante que o texto não sangre para fora */
        bottom: 10%;        /* Sobe um pouco o texto */
        max-width: 80%;     /* Permite que o texto ocupe quase toda a largura */
    }

    .slide-caption h1 {
        /* Ajusta o tamanho: mínimo 1.4rem, ideal 6vw, máximo 2rem */
        font-size: clamp(1rem, 6vw, 2rem); 
        line-height: 1.2;
        margin-bottom: 0.3rem;
    }

    .slide-caption p {
        /* Texto um pouco menor para não poluir a imagem */
        font-size: 0.6rem;
        line-height: 1.3;
        /* Limita a quantidade de linhas visíveis se necessário */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .carousel-control-prev-icon{
        height: 1rem;
        width: 1rem;
    }
    .carousel-control-next-icon{
        height: 1rem;
        width: 1rem;
    }
}

/*----------------- FIM DO SLIDER -----------------*/
