a {
    text-decoration: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.548) 80%);
}

/* Missão, valores e visão */

.container-valores {    
    color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.valores {
    background-color: #00633C;
    border-top-right-radius: 40px;
}

.visao {
    background-color: #0B8045;
}

.missao {
    background-color: #269E37;
    border-bottom-left-radius: 40px;
}

/* Especialista */

.section-especialista {
    border-radius: 30px;
    background:
    linear-gradient(30deg, #00633c 30%, #26c00772 70%), url(https://blog.verde.ag/pt/wp-content/uploads/2023/11/Lavoura-de-milho-como-melhorar-a-fertilidade-do-solo.jpg) no-repeat
}

/* Fale conosco */

.section-contato {
    background-color: #002222;
    color: white;
}

.contato {
    background-color: white;
    border-radius: 2.5rem;
    color: black;
}

form {
    font-weight: 500;
}

.div-form button {
    background-color: #123237;
}

.div-form {
    background-color: white;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.brasil {
    background-color: #F7F6F8;
    color: #123237;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.brasil h2 {
    font-weight: bold;
}

/* Apenas telas pequenas */
@media (max-width: 576px) {
  .mapa-brasil {
    max-width: 12em;
  }
}

/* footer */

.section-pre svg {
    width: 100%;
}


.section-pre .nav-link {
    color: white;
}


/*
.contatos-whatsapp .nav-link:hover {
    opacity: 50%;
}
*/
/*
.contatos-whatsapp h3 {
    font-size: 1.75rem;
}
*/
.contatos-whatsapp svg {
    width: 2rem;
    height  : 2rem;
}

.contatos-whatsapp .nav-link {
    padding: 0;
}

/*
.menu-contatos a:hover {
    opacity: 50%;
}
*/

footer {
    background-color: #001B18;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
  footer h5 {
    font-size: 16px;
  }
}