:root {
    --color-neutral-0: #0e0c0c; 
    --color-neutral-10: #171717; 
    --color-neutral-30: #a8a29e; 
    --color-neutral-40: #f5f5f5;
}

a {
    text-decoration: none;
}

.menu-black {
    background-color: black !important;
}

.carouselExampleControls {
    height: 700px;
}

.carousel-caption {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: left; /* Alinha verticalmente */
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    max-width: 40%;
    font-style: justify;
}

@media screen and (max-width: 1024px) {
    .carousel-caption {
        max-width: 100%;
    }
    .carousel-control-prev , .carousel-control-next{
        display: none;
    }
}

.carousel-item {
    height: 600px; /* Define a altura para 60% da tela */
}

.carousel-item img {
    height: 100%; /* Faz a imagem ocupar toda a altura do slide */
    object-fit: cover; /* Mantém a proporção e cobre toda a área */
}

.radius-bottom {
    width: 50px;  /* Define um tamanho fixo */
    height: 50px;
    border-radius: 50%; /* Deixa circular */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    width: 20px;  /* Ajusta o tamanho do ícone */
    height: 20px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.37) 10%, rgba(0, 0, 0, 0.548) 70%);
  
  }

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    justify-self: center;
    
}

.servicos_cont {
    margin: 0px !important;
    width: 100%;
}


.justif_text {
    text-align: justify;
}   



.container-valores {    
    color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.valores {
    background-color: #00633C;
    border-top-right-radius: 40px;
}

.visao {
    background-color: #0B8045;
}

.missao {
    background-color: #269E37;
    border-bottom-left-radius: 40px;
}

/* Serviços */
.card {
    padding: 0;
    border-radius: 1.25rem;
}

.card-service {
    height: 100%;
    cursor: pointer;
}

.card-service img, .card {
    border-top-left-radius: 15px;  /* Arredonda a borda superior esquerda */
    border-top-right-radius: 15px; /* Arredonda a borda superior direita */
}

.card-service .card-body {
    background-color: #ffffff;
    border-radius: 30px;
}

.section-contato {
    background-color: #002222;
    color: white;
}

.contato {
    background-color: white;
    border-radius: 2.5rem;
    color: black;
}

form {
    font-weight: 500;
}

.div-form button {
    background-color: #123237;
}

.div-form {
    background-color: white;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.brasil {
    background-color: #F7F6F8;
    color: #123237;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.brasil h2 {
    font-weight: bold;
}

/* secção pre s*/
.section-pre {
    background-color: #001B18;
    color: white;
}

.section-pre svg {
    width: 100%;
}

.section-pre .nav-link {
    color: white;
}

.contatos-whatsapp .nav-link:hover {
    opacity: 50%;
}

.contatos-whatsapp h3 {
    font-size: 1.75rem;
}

.contatos-whatsapp svg {
    width: 2rem;
    height  : 2rem;
}

.contatos-whatsapp .nav-link {
    padding: 0;
}

.menu-contatos a:hover {
    opacity: 50%;
}



footer > * {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .75px;
}

/* Footer New */
footer {
    width: 100%;
    background-color: #001B18;
    color:var(--color-neutral-40);
    /* text-align: center;
    padding: 30px 0;
    font-size: 14px; */
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 3rem 3.5rem 0;
    /* justify-content: space-around;
    flex-wrap: wrap; */
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_contacts img{
    display: block;
    height: auto;
    max-width: 30px;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s ease;
}

#footer_social_media .footer-link i{
    font-size: 1.3rem;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
    background-color: var(--color-neutral-30);
    color: var(--color-neutral-0);
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding-left: 0;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.3s ease;
}
.footer-list .footer-link:hover {
    color: #00633c;
}

.footer-list-item {
    display: flex;
    gap: 1rem;
}

.footer-list-item i {
    margin: .25rem;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }  
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }  
}












/* Test */
.section-especialista {
    border-radius: 30px;
    background:
    linear-gradient(30deg, #00633c 30%, #26c00772 70%), url(https://blog.verde.ag/pt/wp-content/uploads/2023/11/Lavoura-de-milho-como-melhorar-a-fertilidade-do-solo.jpg) no-repeat
}
