/* =========================
   Botão Base
========================= */
.btn {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.btn-nav-contato {
  margin-right: 20px;
}

/* Hover padrão */
.btn:hover {
  transform: scale(1.03);
}


@media (max-width: 426px) {
  .btn-nav-contato {
    display: none;
  }
}

/* Amarelo */
.btn--primary {
  background: var(--button-primary-bg);
  color: white;
}

/* Verde */
.btn--success {
  background: var(--color-brand-primary);
  color: white;
}

/* Outline */
.btn--outline {
  background: transparent;
  color: var(--color-brand-primary);
  border: 2px solid var(--color-brand-primary);
  padding: 0.4rem 0.8rem !important;
}

.btn--outline:hover {
  background: var(--color-brand-primary);
  color: white;
  border: 2px solid var(--color-brand-primary);
}