.cta-section {
  margin: 2rem 1rem;
}

.cta-section__layout {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.cta-section__content {
  padding: 2.5rem;
  border-radius: 2rem;

  background:
    linear-gradient(
      30deg,
      var(--color-brand-primary) 30%,
      rgba(38, 192, 7, 0.45) 70%
    ),
    url("../../img/lavoura-de-milho.jpg") center / cover no-repeat;
}

.cta-section h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.cta-section p {
  margin-bottom: 1.5rem;
  /* max-width: 700px; */
}

@media (max-width: 768px) {
  .cta-section__content {
    padding: 2rem;
    text-align: center;
  }
}
